<form [formGroup]="createPetForm" (ngSubmit)="onSubmit()">

<label for="name">Name : </label>
<input id="name" type="text" formControlName="name">
<br>
<label for="kind">Kind : </label>
<input id="kind" type="text" formControlName="kind">
<br>
<label for="image">Image URL : </label>
<input id="image" type="text" formControlName="image">
<br>
<label for="profileText">Profile Text : </label>
<input id="profileText" type="text" formControlName="profileText">
<br>
<button type="submit">Submit</button>
</form>
