<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        <!-- <ng-container *ngIf="pets$ | async as pets"> -->
          <!-- {{url}} -->
          <div class="loader"></div>
         <div *ngFor="let pet of pets" class="gallery-pet fader" >
          <img class="profile-picture"   [src]="'http://localhost:8080/' + pet.image" alt="pets">
          <div class="overlay">
            <div class="overlay-text">{{pet.name}}</div>
          </div>
        </div>
        <!-- </ng-container> -->
      </div>
    </div>
  </div>
</div>

